.message-writter-wrapper {
    width: 99%;
    margin:7px auto 7px auto;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: center;
    border-radius: 7px;
    overflow: hidden;
}

.message-writter {
    width: 100%;
    border: none;
    text-indent: 10px;
}

.message-writter-save, .message-writter-save:disabled {
    color: white;
    padding: 14px 20px;
    border: none;
    background-color: #4CAF50;
    outline: none;
}

.message-writter-save:disabled {
    cursor: no-drop;
    opacity: 0.7;
}

.message-writter-save{
    cursor: pointer;
}

.message-writter-save:active {
    opacity: 0.9;
}